
<form {{action 'saveNewExample' text on='submit'}}>
  <div class="form-group">
    <label for="exampleText">New Entry Form</label>
    {{input type="text" class="form-control" value=text}}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
